In [2]:
import pandas as pd #importing pandas library for reading csv file

In [3]:
dataset=pd.read_csv("Salary_Data.csv") #assigning IP, OP datas to a varaible "dataset"

In [4]:
dataset #calling function of variable

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [5]:
independent=dataset[["YearsExperience"]] #assigning input dataset to a variable "independent" for storing it in memory

In [6]:
independent #calling function of variable from memory

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [7]:
dependent=dataset[["Salary"]] #assigning output dataset to a variable "dependent" for storing it in memory

In [8]:
dependent #calling function of variable from memory

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [8]:
from sklearn.model_selection import train_test_split #importing filename import from Function/Class

X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

#X-train = training independent dataset 
#X-test = training test dataset 
#Y-train = training dependent dataset 
#Y-train = training dependent dataset 

#train_test_split = inbuilt split functionality operator

NameError: name 'independent' is not defined

In [3]:
from sklearn.linear_model import LinearRegression #importing filename import Class/Function name
regressor=LinearRegression()      #Linear regression class functionality assigned to a variable for memory storage 
regressor.fit(X_train, y_train)   #variable with . dot operator to perform input & output training dataset

NameError: name 'X_train' is not defined

In [4]:
LinearRegression() #Calling the functionality

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [6]:
weight=regressor.coef_ #weight=variable stored with regressor.coef_, 
weight

AttributeError: 'LinearRegression' object has no attribute 'coef_'

In [9]:
bais=regressor.intercept_ # variable bais stored with regresor.intercept value
bais

AttributeError: 'LinearRegression' object has no attribute 'intercept_'

In [ ]:
y_pred=regressor.predict(X_test) #dependent prediction stores with the value regressor.predict test independent dataset

In [ ]:
from sklearn.metrics import r2_score # importing sklearn.metrics import class/function name
r_score=r2_score(y_test,y_pred)      # r_score variable stored with values

In [ ]:
r_score

In [ ]:
import pickle 
filename="finalized_model_linear.sav"

In [ ]:
pickle.dump(regressor,open(filename,'wb'))

In [ ]:
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
result=loaded_model.predict([[13]])

In [ ]:
result